<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="SoSlow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<userSettings>
		<SoSlow.Properties.Settings>
   <setting name="ConnectionString" serializeAs="String">
    <value>Data Source=.;Initial Catalog=StackExchange_Database;Integrated Security=SSPI;</value>
   </setting>
   <setting name="DataLocation" serializeAs="String">
    <value />
   </setting>
  </SoSlow.Properties.Settings>
	</userSettings>
	<startup/></configuration>
